html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}
.wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 130px;
	background: cadetblue;
}

.header h2 {
    text-align: center;
    font-size: x-large;
}



/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 60px;
}

.fform {
    width: 1000px;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -60px auto 0;
	min-width: 1000px;
	height: 60px;
	background: #CCCCCC;
	position: relative;
}